<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')  %>

    <div class="about content">
        <h2 class="about-title">About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum odio cupiditate accusamus enim minus itaque, doloribus totam autem doloremque ea. Repudiandae, magni nemo. Molestiae quae molestias quibusdam voluptas fugit consequuntur.</p>
    </div>
</body>
</html>